nav{

}
nav ul{

    display: flex;
    flex-direction: row;
   
    text-decoration: none;
    list-style-type: none;

    background-color: grey;
    color: white;
    padding: 1.5em;
    font-size:1.5em;
}

li{ 
    padding: 0 10px;
}
