@import 'styles.scss'; 

nav{
    padding: 1em;
    border: 2px solid black;
    border-radius: $my_border; 
    background-color: $my_color;

/* Navigation elements flow horizontally */
    display: flex;
    flex-direction: row;
    justify-content: space-around;

      a{
      color: black;
      text-decoration: none;

        &:hover {
            border: 1px solid blue;
        }
        
      }

  } 