$my_font:'Noto Sans KR', sans-serif;
$my_color: #ece8dd;
$my_border: 5px;
$my_padding: 1.5em;
$my_margin: 1em 0 0 0;


@mixin mystyle1 {

    font-size:2 em;
    text-shadow: 10px 10px rgba(189, 195, 199, 1);

    
}